.button-control {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  height: var(--button-control-size);
  margin: var(--button-control-margin);
  margin-bottom: calc(var(--button-control-title-size) + 2 * var(--button-control-margin));
  border-radius: var(--button-control-radius);
  background-color: var(--button-control-bg-color);
  stroke: var(--button-control-color);
  color: var(--button-control-color);
  transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
  transition:
    color 0.225s cubic-bezier(0.4, 0.0, 0.2, 1) 0s,
    stroke 0.225s cubic-bezier(0.4, 0.0, 0.2, 1) 0s,
    transform 0.225s cubic-bezier(0.4, 0.0, 0.2, 1) 0s,
    background-color 0.225s cubic-bezier(0.4, 0.0, 0.2, 1) 0s,
    background-position var(--button-control-slide-bg-pos-duration-animation) cubic-bezier(0.4, 0.0, 0.2, 1) 0s;
  will-change:
    stroke,
    color,
    transform,
    background-color,
    background-position;
}

.button-control--switch {
  width: var(--button-control-switch-size);
}

.button-control--slide {
  width: var(--button-control-slide-size);
  background-size: calc(4 * (var(--button-control-size) + var(--button-control-margin)) + 10px);
  background-image: linear-gradient(to left, var(--button-control-active-bg-color) 0, var(--button-control-active-bg-color) 50%, var(--button-control-bg-color) 50%, var(--button-control-bg-color) 100%);
  background-position-x: var(--button-control-slide-bg-pos-x);
}

.button-control--active {
  background-color: var(--button-control-active-bg-color);
  stroke: var(--button-control-active-color);
  color: var(--button-control-active-color);
}

.button-control--press {
  transform: scale3d(1.05, 1.05, 1);
}

.button-control__title {
  will-change: color;
  z-index: 350;
  display: block;
  position: absolute;
  right: 0;
  bottom: calc(0px - 3 / 2 * var(--button-control-title-size));
  left: 0;
  font-size: var(--button-control-title-size);
  font-style : normal;
  font-variant : normal;
  font-weight : normal;
  text-align: center;
  color: var(--button-control-color);
  cursor: auto;
}

.button-control__icon {
  z-index: 340;
  display: block;
  position: relative;
  width: var(--button-control-icon-size);
  height: var(--button-control-icon-size);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 1px;
  stroke: inherit;
  fill: none;
  filter: drop-shadow(1px 1px 1px rgb(0 0 0 / 0.4));
}

.button-control__value {
  position: relative;
  font-size: var(--button-control-value-size);
  font-style : normal;
  font-variant : normal;
  font-weight : normal;
  text-align: center;
  color: inherit;
}